*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.calc{
  width: 300px;
  height: 500px;
  margin: 50px auto;
  padding: 18px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-family: Arial;
  box-shadow: 4px 4px 4px #4f4f4f;
}

.calc__screen{
  height: 125px;
  padding: 10px 15px 20px;
  display: grid;
  align-items: end;
  justify-content: end;
  font-size: 1.5rem;
}

.calc__screen-text,
.calc__screen-result{
  justify-self: end;
}

.calc__buttons{
  display: grid;
  grid-template-areas: 
  "ac ac percent division"
  "seven eight nine myltiplay"
  "four five six minus"
  "one two three plus"
  "zero zero dot equal";
  gap: 10px;
  justify-items: center;
}

.calc__btn{
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.calc__btn:hover{
  filter: brightness(120%);
}

.calc__btn:active{
  filter: brightness(90%);
}

.zero{
  grid-area: zero;
  width: 100%;
  border-radius: 34px;
}

.ac{
  grid-area: ac;
  width: 100%;
  border-radius: 34px;
}

.bg-orange{
  background-color: #ff9501;
}

.bg-gray{
  background-color: #a6a6a6;
}