.canver {
  margin: 40px auto;
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 15px;
}

.canver__top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.canver__top-box {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 15px;
  text-align: center;
}

.canver__box-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}

.canver__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.canver__row-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.canver__row-select {
  padding: 10px 5px;
}

.canver__bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.canver__bottom-input {
  padding: 10px 5px;
  width: 100%;
  outline: none;
}

.canver__bottom-input:focus {
  border-color: cornflowerblue;
  -webkit-box-shadow: 0px 0px 20px 0px cornflowerblue;
  -moz-box-shadow: 0px 0px 20px 0px cornflowerblue;
  box-shadow: 0px 0px 20px 0px cornflowerblue;
}